{% extends 'layout.html' %}
{% load static %}

{% block content %}

<!-- Link to specific register CSS -->
<link rel="stylesheet" href="{% static 'dashboard.css' %}">

<div class="profile-container">
    <h2>แก้ไขข้อมูลโปรไฟล์</h2>
    <form class="profile-form" method="POST" action="{% url 'update_profile' %}">
        {% csrf_token %}
        <div class="profile">
            <img src="{% static 'Register_image_page.jpg' %}" alt="Profile Picture">
            <p>ID: {{ context.id }}</p>
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="first_name" placeholder="First Name" value="{{ context.firstname }}" disabled>
            
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="last_name" placeholder="Last Name" value="{{ context.lastname }}" disabled>
            
            <label for="contact">Contact Number</label>
            <input type="text" id="contact" name="contact" placeholder="Contact Number" value="{{ context.contact }}" disabled>
        </div>
        <div class="buttons">
            <button type="button" class="edit-btn button-adjust" onclick="toggleEdit()">แก้ไขโปรไฟล์</button>
            <button type="submit" class="save-btn button-adjust" style="display:none;">บันทึก</button>
            <button type="button" class="change-pass-btn" onclick="changePassword()">เปลี่ยนรหัสผ่าน</button>
            <button type="button" class="delete-btn" onclick="deleteAccount()">ลบบัญชี</button>
        </div>
    </form>

    <h2>ประเภทสมาชิก</h2>
    <div class="membership">
        <div class="membership-box regular {% if user_is_regular %}selected{% endif %}">
            <h3>Regular</h3>
            <p><strong>ฟรี</strong></p>
            <p>บริการดูข้อมูลพื้นฐาน</p>
            <p>ส่วนลด 10% สำหรับบริการเสริม</p>
            <button class="subscribe-btn" {% if user_is_regular %}disabled{% else %}onclick="window.location.href='{% url 'membership' %}'"{% endif %}>
                {% if user_is_regular %}สมัครสมาชิกไว้แล้ว{% else %}สมัครสมาชิก{% endif %}
            </button>
        </div>
        
        <div class="membership-box premium {% if user_is_premium %}selected{% endif %}">
            <h3>Premium</h3>
            <p><strong>200 บ. / เดือน</strong></p>
            <p>บริการดูข้อมูลพรีเมียม & ใช้งานฟีเจอร์พิเศษ</p>
            <p>ส่วนลด 20% สำหรับบริการเสริม</p>
            <button class="subscribe-btn" {% if user_is_premium %}disabled{% else %}onclick="window.location.href='{% url 'membership' %}'"{% endif %}>
                {% if user_is_premium %}สมัครสมาชิกไว้แล้ว{% else %}สมัครสมาชิก{% endif %}
            </button>
        </div>
    </div>
</div>

<div class="menu">
    <h2>รายการ</h2>
    <div class="menu-item">
        <h3>จองสำเร็จแล้ว</h3>
        <div class="dropdown-content">
            <p>การจองของคุณสำเร็จแล้ว! กรุณารอซักคู่อีกครั้งในการทำความสะอาด</p>
        </div>
    </div>
    
    <div class="menu-item">
        <h3>กำลังบริการอยู่</h3>
        <div class="dropdown-content">
            <p>บริการของคุณกำลังดำเนินการอยู่! เหลือเวลา 0 นาที</p>
        </div>
    </div>
    
    <div class="menu-item">
        <h3>ใบเสร็จ</h3>
        <div class="dropdown-content">
            <p>คุณสามารถขอใบเสร็จได้ที่นี่!</p>
            <a href="/request-receipt" class="btn">ขอใบเสร็จ</a>
        </div>
    </div>
</div>

{% endblock %}
