{% extends 'layout.html' %}
{% load static %}

{% block content %}

<!-- Link to specific register CSS -->
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
<script src="{% static 'dashboard.js' %}"></script>
<!-- Box Menu Added -->
<div data-component-view="box-menu">
    <a href="{% url 'history_booking' %}" data-component-view="history">ประวัติการจอง</a>
    <a href="{% url 'status_booking' %}" data-component-view="service-status">สถานะบริการ</a>
    <a href="#" data-component-view="receipt">ใบเสร็จ</a>
    <a href="{% url 'staff' %}" data-component-view="employee">พนักงาน</a> <!-- For employee version -->
    <a href="{% url 'receptionist' %}" data-component-view="receptionist">Receptions</a> <!-- For Admin version  ฝากไปแก้ให้หน่อยเด้อ -->
</div>

<div class="profile-container">
    <h2>แก้ไขข้อมูลโปรไฟล์</h2>
    <form class="profile-form" method="POST" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        <div class="profile">
            <img src="{% static 'Register_image_page.jpg' %}" alt="Profile Picture">
            <p>ID: {{ context.id }}</p>

            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="first_name" placeholder="{{ context.firstname }}" value="">
            
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="last_name" placeholder="{{ context.lastname }}" value="">
            
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="{{ context.email }}" value="">
        </div>
        <div class="buttons">
            <button type="submit" class="edit-btn button-adjust" onclick="toggleEdit()">แก้ไขโปรไฟล์</button>
        
        </div>
    </form>
    <div class="buttons">
        <button type="button" class="edit-btn button-adjust" onclick="addTel()">เพิ่มเบอร์</button>
        <button type="submit" class="save-btn button-adjust" style="display:none;">บันทึก</button>
        <button type="button" class="change-pass-btn" onclick="changePassword()">เปลี่ยนรหัสผ่าน</button>
        <button type="button" class="delete-btn" onclick="deleteAccount()">ลบบัญชี</button>
    </div>

    

{% endblock %}
