<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="/login/">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="next">Login</button>
        </form>
    </div>
</body>
</html>
