<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Sign in</h2>
        <form>
            <input type="email" placeholder="Email or phone" required>
            <a href="#">Forgot email?</a>
            <br><br>
            <input type="password" placeholder="Enter your password" required>
            <a href="#">Forgot password?</a>
            <div class="button-group">
                <a href="{% url 'register' %}">
                    <button type="button" class="create-account">Create account</button>
                </a>                             
                <button type="submit" class="next">Next</button>
            </div>
        </form>
    </div>
</body>
</html>
