{% extends 'layout.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'payment.css' %}">
<!-- Title for payment selection -->
<h2 class="centered">เลือกช่องทางชำระ</h2>

<!-- Payment Forms -->
<div class="payment-forms">
    <!-- Total Price Section -->
    <div class="total-price">
        <p>ราคาสุทธิ: <span id="total-price">{{ price }} {{context.price}}บาท</span></p>
    </div>



    <!-- <button id="credit-card-btn">ชำระด้วยบัตรเครดิต</button>-->
    <button id="qr-code-btn">ชำระด้วย QR Promptpay</button>
   
    <form id="qr-code" class="payment-form" style="display:none;" method="GET" action="/dashboard/">
        <h3>QR Promptpay</h3>
        <img src="{% static 'Image/materieal/QR/s-1.png' %}" alt="QR Code">
        <div class="button-wrapper">
            <button type="submit">ชำระเงินผ่าน QR</button>
        </div>
    </form>

</div>

<script src="{% static 'payment.js' %}"></script>
{% endblock %}
