{% extends 'layout.html' %}
{% load static %}

{% block content %}
<section id="home">
    <h1>SpeedMaster</h1>
    <h2>Cars and Detailing</h2>
    <p>บริการล้างรถ เคลือบแก้ว และติดฟิล์มกันรอย ด้วยเทคโนโลยีเคมีขั้นสูง ที่ช่วยยกระดับความเงางามและปกป้องพื้นผิวรถคุณอย่างมีประสิทธิภาพ</p>
    <img src="{% static 'Image/materieal/Home/car-home.png' %}" alt="Car" />
    <div class="button-container">
        <button class="booking-button">Booking</button>
    </div>
    <div class="info-item">
        <div class="info-box">
            <img src="{% static 'Image/materieal/Home/Service_icon.png' %}" alt="Service">
            <h1>Service</h1>
            <p>บริการล้างรถ เคลือบแก้วและฟิล์มกันรอย</p>
        </div>
        
        <div class="info-box">
            <img src="{% static 'Image/materieal/Home/Hour_icon.png' %}" alt="Hour">
            <h1>Hour</h1>
            <p>เปิดให้บริการทุกวัน 8.30-18.30 น. ไม่มีวันหยุด</p>
        </div>
        
        <div class="info-box">
            <img src="{% static 'Image/materieal/Home/Location.png' %}" alt="Location">
            <h1>Location</h1>
            <p>สาขาในเมือง สาขาคอมเพล็ก</p>
        </div>
    </div>
</section>
<!-- About Section -->
<section id="About">
    <h1>About Us</h1>
    <div class="About-container">
        <!-- Left Container -->
        <div class="Left-container">
            <img src="{% static 'Image/materieal/About/Check.png' %}" alt="Check">
            <div>
                <h5>Experience</h5>
                <p>สัมผัสประสบการณ์ที่เหนือกว่า พร้อมความคุ้มค่าที่สุด เมื่อคุณเลือกใช้บริการจาก Speed Master</p>
            </div>
        </div>
        <div class="Left-container">
            <img src="{% static 'Image/materieal/About/Check.png' %}" alt="Check">
            <div>
                <h5>Interior Cleaning</h5>
                <p>ทำความสะอาดฟื้นฟูสภาพรถให้กลับใมาเหมือนใหม่อีกครั้ง</p>
            </div>
        </div>
        <div class="Left-container">
            <img src="{% static 'Image/materieal/About/Check.png' %}" alt="Check">
            <div>
                <h5>Expertise You Can Trust</h5>
                <p>มีทีมงานผู้เชี่ยวชาญพร้อมดูแลทุกขั้นตอน เพื่อให้มั่นใจว่ารถของคุณได้รับการบริการที่ดีที่สุด
                </p>
            </div>
        </div>
        <!-- Center image -->
        <div class="Center-image">
        <img src="{% static 'Image/materieal/About/Car-About.png' %}" alt="Center Image">
        <img src="{% static 'Image/materieal/About/about.png' %}" alt="Flag">
        <img src="{% static 'Image/materieal/About/about.png' %}" alt="Flag">
        <img src="{% static 'Image/materieal/About/about.png' %}" alt="Flag">
    </div>

        <!-- Right Container -->
        <div class="Right-container">
            <img src="{% static 'Image/materieal/About/Check.png' %}" alt="Check">
            <div>
                <h5>Quality</h5>
                <p>ฟิล์ม High-PU ยืดหยุ่นสูง ติดตั้งง่าย เข้ารูปทุกชิ้น ลดรอยต่อ 90% เพิ่มความใสเงางามให้รถ</p>
            </div>
        </div>
        <div class="Right-container">
            <img src="{% static 'Image/materieal/About/Check.png' %}" alt="Check">
            <div>
                <h5>Ultimate Paint Protection Film</h5>
                <p>เคลือบแก้วด้วยเทคโนโลยีสารเคลือบปกป้องสีรถยนต์ ใหม่ล่าสุดจาก อเมริกา ที่ให้การปกป้องทีเหนือกว่า Silica, Graphene, Solid, Sio2</p>
            </div>
        </div>
        <div class="Right-container">
            <img src="{% static 'Image/materieal/About/Check.png' %}" alt="Check">
            <div>
                <h5>Premium Gloss </h5>
                <p>มอบความเงางามระดับพรีเมียม เพิ่มเสน่ห์ให้รถยนต์ของคุณโดดเด่นทุกมุมมอง</p>
            </div>
        </div>
    </div>
</section>



{% endblock %}
